@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
     font-optical-sizing: auto;
    background-color: #131313;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }

.header-wrapper {
    height: 150px;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        input {
            background-color: #2b2b2b;
            border: none;
            color: white;
            border-radius: 20px;
            padding: 0.5rem 1rem;
        }

        button {
            background-color: #1DB954;
            border: none;
            color: #131313;
            padding: 0.5rem;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: #1ca74c;
            }
        }
    }
}

.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.song-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.music-box {
    background-color: #2b2b2b;
    padding: 3rem;
    border-radius: 20px;
    grid-column: span 4;
    box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.6); 
    transition: box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    height: fit-content;
}

.title {
    font-size: 2.2rem;

}

.artist {
    font-size: 1.2rem;
    color: #1DB954;
}

.album {
    font-size: 1.2rem;
    color: #757575;
}
.img-container {
    margin: 1.2rem 0;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 15px;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    audio {
        width: 100%;
    }
}
.lyrics-container {
    white-space: pre-wrap;
    grid-column: span 8;

    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
  }


// player
.spotify-player {
    background: #131313;
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    width: 100%;
  }
  .spotify-player button {
    background-color: #1DB954;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
  }
  #progress {
    flex-grow: 1;
  }
